*,
::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* scrollbar-width: none; */
  overflow: hidden;
}

#container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#canvas{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

/* body::-webkit-scrollbar {
  display: none;
} */

#container__banner {
  position: absolute;
  top: 5%;
  left: 10%;
}

.close {
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}

#container__home{
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.container__home-items{
  position: absolute;
  top: 30%;
  right: 0;
  display: none;
}

/* #item{
  height: 194px;
  width: clamp(900px, 20vw, 1500px);
  display: flex;
	position: relative;
} */

/* .item__left{
  display: grid;
  place-items: end center;
  padding: 10px 0;
  min-width: 20%;
} */

/* .placeholder{
  position: absolute;
  width: 675px;
  height: 173px;
  top: 0;
  left: 20%;
  display: grid;
  place-content: center;
  overflow: hidden;
  margin: 10px;
  cursor: pointer;
} */

.images{
  opacity: 1;
  width: 675px;
  height: 173px;
  /* transition: opacity 0.3s ease; */
  /* transform-origin: 50%; */
  /* transform: scale(0.25); */
}

/* .enlarged {
  position: fixed;
  top: -105px;
  left: -715px;
  width: 720px;
  height: 346px;
} */

/* #content__inside {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  z-index: -1;
} */


/* #previews{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 54%;
  left: 0;
} */

/* #previews > video,
#previews > img{
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  width: 720px;
  height: 346px;
  margin-bottom: 40px;
} */

/* #hero{
  width: 50%;
} */

/* .hero__inner{
  position: fixed;
  top: 45%;
  left: 65%;
} */

/* .hero__inner > .title,
.hero__inner> .details,
.hero__inner > .infos{
  opacity: 0;
  visibility: hidden;
} */
